<!DOCTYPE html>
<html ng-app="AgentDetailedReport">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link type="text/css" href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <title>DEWA</title>
     <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link type="text/css" rel="stylesheet" href="fonts/Font-Awesome-5.13.0/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="fonts/Roboto-Font/Roboto-RCondensed.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-datetimepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/loader.css" />
    <link rel="stylesheet" type="text/css" href="css/dataTable.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.growl.css" />


    <script type="text/javascript" src="js/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="js/jquery.growl.js"></script>
    <script type="text/javascript" src="js/jquery.idle.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/moment.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-datatables.js"></script>
	
    <script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="js/inline-script.js"></script>	
	
    <script type="text/javascript" src="js/agent-ITDetailed-report.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/FileSaver.js"></script>

<style>
.table-container > thead > tr > th.date_th,
.table-container > thead > tr > th.time_th {
       width: 310px !important;
    }
    .table-container > thead > tr > th.section_th {
       width: 410px !important;
    }
    .table-container > tbody > tr {
    	position: relative;
    }
    .table-container > tbody > tr > td {
    padding-bottom: 35px;
    } 
    .table-container > tbody > tr:nth-of-type(even) {
    background-color: #fff;
}
    
    .table-container > tbody > tr > td.unanswered_call_td {
    padding: 0;
	width: 0px;
    } 
	.table-container > tbody > tr > td.unanswered_call_td p {
    padding: 5px 10px;
	margin: 0px;
    background-color: #ecf2f4;
    position: absolute;
    width: 100%;
    display: block;
    height: 30px;
    bottom: 0px;
    border-bottom: 1px solid #aac5cd;
    left:0px;
    } 
    
    
    .download-reports {
		left: 189px;
	}
	
	
</style>

</head>

<body class="en" ng-controller="DetailedReportController">
	<!-- <div id="loader" class="loader-main-container2">
         <div class="loader-inner-container">
             <div class="loader-container">
                 <div class="loader">
                    <img src="images/loader.png" alt="CTS" title="CTS" />
                    
                 </div>
                 <span>Please wait...</span>
             </div>
         </div>
     </div> -->
    <div class="body-container">
        <aside class="aside-container">
            <div class="header-logo1">
                    <img class="logo " src="images/DEWA-logo.png" alt="DEWA" title="DEWA" />
            </div>
            <nav class="menu-container">
              <ul class="hide_menu">
                 <li ng-show="hasAccess1('UserManagement')">
                     <a href="user-management.html">User Management</a>
                 </li>
                 <li ng-show="hasAccess1('RoleManagement')">
                     <a href="role-management.html">Role Management</a>
                 </li>
                
                 <li>
                 <!-- <li ng-show="hasAccess1('IT Emergency Report')" class="active"> -->
                             <a href="javascript:void(0)" class="submenu-head">IT Reports</a>
                             <ul class="submenu-list">
                                 <li  ng-show="hasAccess1('Call Transaction Report')" class="active">
                                    <a href="agent-ITTransaction-report.html">Call Transaction Report</a>
                                 </li>
                                 <li  ng-show="hasAccess1('Summary Report')" class="active">
                                  <a href="agent-ITSummary-report.html">Summary Report</a>
                               </li>
                               <li ng-show="hasAccess1('Detailed Report')" class="active">
                                <a href="agent-ITDetailed-report.html">Detailed Report</a>
                             </li>
                             </ul>
                 </li>
               
           
             </ul>
         </nav>

</aside>
        <div class="body-right-container" ng-show="hasAccess1('Detailed Report')">
            <header class="header-container">
                <ul class="header-detail-container pull-right">
                    <li class="user-details"><i class="fa fa-user user-icon"></i><p><span class="user-text-select" onclick="openUserProfile()">{{ logged_in_user }}</span></p></li>
                    <li><button onclick="logout()" class="logout-btn"><i class="fa fa-power-off"></i></button></li>
                </ul>
            </header>
            <section class="section-container" id="rolemanagement">

                <div class="head-container">
                    <h1 class="h1-head pull-left"> Detailed Report</h1>
                </div>
                <div class="form-body-container form-body-flex">
                    <ul class="radio-container" id="intervel-radio-selector">
                        <li>
                            <div class="checkbox-option">
                                <input type="radio" value="today" class="input-radio" name="intervel" id="todayIntervel" />
                                <label for="todayIntervel">Today</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox-option">
                                <input type="radio" value="thisWeek" class="input-radio" name="intervel" id="thisWeekIntervel" />
                                <label for="thisWeekIntervel">This Week</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox-option">
                                <input type="radio" value="thisMonth" class="input-radio" name="intervel" id="thisMonthIntervel" />
                                <label for="thisMonthIntervel">This Month</label>
                            </div>
                        </li>
                        <li>
                            <div class="checkbox-option">
                                <input type="radio" value="custom" class="input-radio" name="intervel" id="customeIntervel" />
                                <label for="customeIntervel">Custom</label>
                            </div>
                        </li>
						
					
						
                    </ul>
                    <ul class="form-container single-row-feald">
                        <li style="width: 200px;" class="custome-datetimepicker hide">
                            <div class="input-group from-date-field">
                                <div class="label-field">
                                    <label>From Date</label>
                                </div>
                                <div class="input-field ">
                                    <input type="text" id="txtStartDate"  class="input-date" />
                                    <i style="color: #7BC526;" class="fa fa-calendar field-icon datepicker"></i>
                                </div>
                            </div>
                        </li>
                        <li style="width: 200px;" class="custome-datetimepicker hide">
                            <div class="input-group to-date-field">
                                <div class="label-field">
                                    <label>To Date</label>
                                </div>
                                <div class="input-field ">
                                    <input type="text" id="txtEndDate" class="input-date" />
                                    <i style="color: #FF000B;" class="fa fa-calendar field-icon datepicker"></i>
                                </div>
                            </div>
                        </li>
                        
                        <li>
						<div class="input-group from-date-field">
						 <div class="label-field">
							<label>Support Type</label>
						</div>							
  
						
						<div class="input-field ">
						<select class="input-select" id="type" name="type"
										name="Select"
                                        ng-model="typeDropdown"
                                        ng-options="supportType for supportType in type"
                                        ng-change="">									
                        </select>
									
							
						</div>
							
							
						</div>	
                        </li>
                        
						
                        <li class="custom-search-button hide">
                            <div class="input-field" ><button ng-click="getTjxReportData()" class="input-btn1 green-btn" id="custom-search">Search</button></div>
                        </li>
                    </ul>
                </div>
				 
                <div class="report-table-container" style="height: calc(100% - 86px);">
					<ul class="download-reports">
                        <li>
                            <button ng-show="hasAccess1('Reports Download') && showIcon" ng-click="downloadPdf()" id="download-pdf-btn"><i class="fa fa-file-pdf"></i> PDF</button>
                        </li>
                        <li>
                            <button ng-show="hasAccess1('Reports Download') && showIcon" ng-click="downloadExcel()" id="download-excel-btn"><i class="fa fa-file-excel"></i> Excel</button>
                        </li>
                    </ul>
                     <div class="overlay" id="overlay"></div>
                       <div class="loader-containerr hidden">
					   <div class="loadloaderr"></div>
				    </div>
                    <div class="report-table-inner-container">
                        <table class="table-container" style="width: 100%; table-layout: auto;" id="TJX_report">
							<thead>
                                <tr>
									<th class="date_th">Date</th>                                
									<th class="time_th">Time</th>
                  					<th class="section_th">Section</th>
									<th>Calling Number</th>
									<th>Answering Number</th>
									<th>Call Duration</th>
									<th colspan="1">Hold Duration</th>	
								<!--	<th style="width: 0px;display: block !important;padding: 0px;margin: 0px;height: 0px;">Unanswered Call</th>  -->
									<th style="width: 0%;display: block !important;padding: 0px;margin: 0px;height: 0px;"></th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCtiDropReason">

                            </tbody>
                        </table>
                    </div>
                </div>

            </section>
			
	<!-- <div class="popup-body-container  hide" id="userProfilePop" style="z-index: 99999999"> -->
      <div class="popup-container">
        <div class="popup-header">
          <h4 class="message-popup-head" id="userProfilePophead">User profile</h4><i class="close-pop-btn hide">X</i>
        </div>
        <div class="popup-body" style="min-height: 80px;">
          <form name="usereditForm" id="usereditForm">
            <ul class="form-container">
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                  <div class="label-field">
                    <label>User Name</label>
                  </div>
                  <div class="input-field input-icon">
                    <input readonly class="input-text" ng-model="userProfile.userName" />

                    <i class="fa fa-user input-field-icon"></i>

                  </div>
                </div>
              </li>
              <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <div class="label-field">
                    <label>First Name</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-model="userProfile.firstName" class="input-text" type="text" id="userProfileFirstName" name="firstName"
                      required />
                    <i class="fa fa-user input-field-icon"></i>
                    <div ng-if="usereditForm.$submitted || usereditForm.firstName.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.firstName.$error.required ">The First Name is required</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <div class="label-field">
                    <label>Last Name</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-model="userProfile.lastName" class="input-text" type="text" id="userProfileLastName" name="lastName"
                      required />
                    <i class="fa fa-user input-field-icon"></i>
                    <div ng-if="usereditForm.$submitted || usereditForm.lastName.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.lastName.$error.required ">The Last Name is required</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: table;">
                <div class="input-group">
                  <div class="label-field">
                    <label>Email</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-model="userProfile.email" class="input-text" type="email" id="userProfileEmail" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required />
                    <i class="fa fa-envelope input-field-icon"></i>
                    <div ng-if="usereditForm.$submitted || usereditForm.email.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.email.$error.required ">The Email is required</span>
                      <span ng-if="usereditForm.email.$error.pattern">The Email is invalid</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <div class="label-field">
                    <label>Password</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-change="checkPassword(userProfile.password, userProfileConfirmPassword)" ng-model="userProfile.password"
                      class="input-password" type="password" id="userProfilePassword" name="password"
						ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/" required />
                    <i class="fa fa-lock input-field-icon"></i>
                    <div class="text-danger err-msg" ng-if="isPassword==='false'">Password and confirm password does not match</div>
                    <div ng-if="usereditForm.$submitted || usereditForm.password.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.password.$error.required ">The Password is required</span>
					  <span ng-if="usereditForm.password.$error.pattern ">The Password must contains minimum 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character</span>
                    </div>
                  </div>
                </div>
              </li>
              <li class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                  <div class="label-field">
                    <label>Confirm Password</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-change="checkPassword(userProfile.password, userProfileConfirmPassword)" ng-model="userProfileConfirmPassword"
                      class="input-password" type="password" id="confirmPassword" name="confirmPassword" required />
                    <i class="fa fa-lock input-field-icon"></i>
                    <div ng-if="usereditForm.$submitted || usereditForm.confirmPassword.$touched"
                      class="text-danger err-msg">
                      <span ng-if="usereditForm.confirmPassword.$error.compareTo">Password Confirmation doesn't
                        match</span>
                    </div>
                  </div>
                </div>
              </li>

				<li class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: table;">
                <div class="input-group">
                  <div class="label-field">
                    <label>Security question</label>
                  </div>
                  <div class="input-field ">
                    <select ng-model="userProfile.securityQuestion" class="input-select" id="userProfileSecurityQuestion" name="securityQuestion" required>

                      <option>What is the name of your first pet?</option>
                      <option>What is your mother's maiden name?</option>
					  <option>What was your first car?</option>
					  <option>What elementary school did you attend?</option>
					  <option>What is the name of the town where you were born?</option>
                    </select>
                    <div ng-if="userForm.$submitted || userForm.securityQuestion.$touched" class="text-danger err-msg">
                      <span ng-if="userForm.securityQuestion.$error.required ">Security question is required</span>
                    </div>
                  </div>
                </div>
              </li>
			  
			  <li class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="input-group">
                  <div class="label-field">
                    <label>Answer</label>
                  </div>
                  <div class="input-field input-icon">
                    <input ng-model="userProfile.answer" class="input-text" type="text" id="userProfileAnswer" name="answer"
                      required />
                    <div ng-if="userForm.$submitted || userForm.answer.$touched" class="text-danger err-msg">
                      <span ng-if="userForm.answer.$error.required ">Answer is required</span>
                    </div>
                  </div>
                </div>
              </li>
				
              <li ng-hide="true" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="input-group">
                  <div class="label-field">
                    <label>Status</label>
                  </div>
                  <div class="input-field ">
                    <select ng-disabled="true" ng-model="userProfile.status" class="input-select" id="userProfileStatus" name="status" required>

                      <option>Active</option>
                      <option>In-Active</option>
                    </select>
                    <div ng-if="usereditForm.$submitted || usereditForm.status.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.status.$error.required ">The Status is required</span>
                    </div>
                  </div>
                </div>
              </li>
              <li ng-hide="true" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <div class="input-group">
                  <div class="label-field">
                    <label>Role</label>
                  </div>
                  <div class="input-field">
                    <select ng-model="userProfile.roleId" class="input-select" name="role" id="role" required
                      ng-options="role.id as role.roleName for role in roles"></select>
                    <div ng-if="usereditForm.$submitted || usereditForm.role.$touched" class="text-danger err-msg">
                      <span ng-if="usereditForm.role.$error.required ">The Role is required</span>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </form>
        </div>
        <div class="popup-footer">
          <ul class="popup-btn-container">
            <li class="pull-right"><button class="input-btn1 red-btn popup-close-btn">Cancel</button></li>
            <li class="pull-right"><button onclick="updateUserProfile()" class="input-btn1 green-btn">Submit</button></li>
          </ul>
        </div>
      </div>
    </div>
        </div>
			
			
        </div>
    </div>

 

    <script>
              
        //Datatable Height
        // $(document).ready(
        //     function () {
        //         function setHeight() {
        //             windowHeight = $(window).innerHeight();
        //             $('.report-table-container').height(
        //                 $(window).height() - 74 - $("header").height() - $(".head-content").height() - $(".form-body-container").height());
        //         };
        //         setHeight();

        //         $(window).resize(function () {
        //             setHeight();
        //         });

        //         $(window).scroll(function () {
        //             setHeight();
        //         });


        //     });
            //Datatable Height
        //DatePicker
        $(function () {
            $("#txtStartDate").datetimepicker({
                ignoreReadonly: true,
                format: 'DD/MM/YYYY',
                defaultDate: new Date(),
                maxDate: new Date()
                //maxDate: date,
                //defaultDate: date
            });

            $("#txtEndDate").datetimepicker({
                ignoreReadonly: true,
                format: 'DD/MM/YYYY',
                //defaultDate: date,
                //minDate: date,
                //maxDate: date
                defaultDate: new Date(),
                minDate: new Date(),
                maxDate: new Date()
            });

            $('#txtStartDate').datetimepicker().on('dp.change', function (e) {
                $("#txtEndDate").data('DateTimePicker').minDate(new Date(e.date));
            });

        });
        //DatePicker


        //Custom DatePicker
        $(document).on("click", '#intervel-radio-selector.radio-container > li > .checkbox-option > label', function () {
            setTimeout(function () {
				if ($("#todayIntervel").prop("checked") || $("#thisWeekIntervel").prop("checked") || $("#thisMonthIntervel").prop("checked") || $("#customeIntervel").prop("checked")) {				
                    $(".custom-search-button").removeClass("hide");
                } else {
                    $(".custom-search-button").addClass("hide");
                }
				
                if ($("#customeIntervel").prop("checked")) {
                    $(".custome-datetimepicker").removeClass("hide");
                } else {
                    $(".custome-datetimepicker").addClass("hide");
                }
            }, 100);

        });
		
		//report search button
		
		
        //Custom DatePicker
    </script>

</body>
</html>
